@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="nav-item" >
        <a asp-controller="Account" asp-action="Register" class="btn btn-sm btn-primary ml-2">Register</a>
     </div>
</div>
